header {
   padding: 10px;
   ul {
      list-style: none;
      padding: 0 5px;
      display: flex;
      li {
         padding: 0 10px;
         a {
            padding: 10px;
            cursor: pointer;
         }
      }
   }
}